* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

blockquote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 26px;
}

.profile-card {
    background-image: image('assets/freedom.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.head {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

p {
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 26px;
}